.dashboard {
  display: flex;
  min-height: 100vh;
  background: #f1f5f9;
}

.content {
  margin-left: 250px;
  padding: 40px;
  width: 100%;
}

.content h1 {
  color: #0f172a;
}

.subtitle {
  color: #64748b;
  margin-bottom: 40px;
  font-size: 18px;
}

.card-container {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}