.stat-card {
    background:#ffffff;
    padding:25px;
    border-radius:12px;
    border-top:5px solid #38bdf8;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
    transition:.3s;
    min-height:130px;
    display:flex;
    flex-direction:column;
}
.stat-card:hover {
  transform: translateY(-6px);
}

.stat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stat-card h3 {
  color: #64748b;
  font-size: 16px;
  margin: 0;
}

.stat-card h1 {
  margin-top: 20px;
  color: #0f172a;
  font-size: 34px;
}

.stat-icon {
  font-size: 28px;
  color: #38bdf8;
}
